.elementor-kit-6 {
    --e-global-color-primary: #001F3F;
    --e-global-color-secondary: #003366;
    --e-global-color-text: #333333;
    --e-global-color-accent: #004D00;
    --e-global-color-1e08779: #FFD700;
    --e-global-color-afbfb07: #001F3F;
    --e-global-color-e47b56a: #F2F8EA;
    --e-global-color-ed9e79a: #FFFFFF;
    --e-global-color-7e6e8a6: #000000;
    --e-global-color-a6faecd: #FFFFFF00;
    --e-global-color-cefc7a6: #9B9B9B47;
    --e-global-color-4b7b48c: #00000094;
    --e-global-typography-primary-font-family: "Quicksand";
    --e-global-typography-primary-font-weight: 600;
    --e-global-typography-secondary-font-family: "Quicksand";
    --e-global-typography-secondary-font-size: 36px;
    --e-global-typography-secondary-font-weight: 500;
    --e-global-typography-text-font-family: "Open Sans";
    --e-global-typography-text-font-size: 16px;
    --e-global-typography-text-font-weight: 400;
    --e-global-typography-accent-font-family: "Open Sans";
    --e-global-typography-accent-font-size: 16px;
    --e-global-typography-accent-font-weight: 500;
    --e-global-typography-c756699-font-family: "Outfit";
    --e-global-typography-c756699-font-size: 70px;
    --e-global-typography-c756699-font-weight: 600;
    --e-global-typography-c756699-line-height: 1.1em;
    --e-global-typography-497b7be-font-family: "Quicksand";
    --e-global-typography-497b7be-font-size: 56px;
    --e-global-typography-497b7be-font-weight: 700;
    --e-global-typography-497b7be-line-height: 1.2em;
    --e-global-typography-07b9981-font-family: "Outfit";
    --e-global-typography-07b9981-font-size: 42px;
    --e-global-typography-07b9981-font-weight: 700;
    --e-global-typography-07b9981-line-height: 1.1em;
    --e-global-typography-1b81783-font-family: "Quicksand";
    --e-global-typography-1b81783-font-size: 34px;
    --e-global-typography-1b81783-font-weight: 700;
    --e-global-typography-1b81783-line-height: 1.2em;
    --e-global-typography-2ff40c8-font-family: "Quicksand";
    --e-global-typography-2ff40c8-font-size: 26px;
    --e-global-typography-2ff40c8-font-weight: 700;
    --e-global-typography-2ff40c8-line-height: 1.3em;
    --e-global-typography-179a6a0-font-family: "Quicksand";
    --e-global-typography-179a6a0-font-size: 22px;
    --e-global-typography-179a6a0-font-weight: 700;
    --e-global-typography-179a6a0-line-height: 1.3em;
    --e-global-typography-0ef4eeb-font-family: "Quicksand";
    --e-global-typography-0ef4eeb-font-size: 18px;
    --e-global-typography-0ef4eeb-font-weight: 600;
    --e-global-typography-0ef4eeb-line-height: 1.2em;
    --e-global-typography-2208e4a-font-family: "Quicksand";
    --e-global-typography-2208e4a-font-size: 13px;
    --e-global-typography-2208e4a-font-weight: 600;
    --e-global-typography-2208e4a-line-height: 1.3em;
    --e-global-typography-89ab0b6-font-family: "Quicksand";
    --e-global-typography-89ab0b6-font-size: 16px;
    --e-global-typography-89ab0b6-font-weight: 700;
    --e-global-typography-89ab0b6-text-transform: uppercase;
    --e-global-typography-89ab0b6-text-decoration: none;
    --e-global-typography-89ab0b6-line-height: 1.3em;
    --e-global-typography-89ab0b6-letter-spacing: 1.2px;
    --e-global-typography-9d56c47-font-family: "Open Sans";
    --e-global-typography-9d56c47-font-size: 13px;
    --e-global-typography-9d56c47-font-weight: 400;
    --e-global-typography-9d56c47-line-height: 1.3em;
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-size: var( --e-global-typography-text-font-size);
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-kit-6 button,
.elementor-kit-6 input[type="button"],
.elementor-kit-6 input[type="submit"],
.elementor-kit-6 .elementor-button {
    background-color: var( --e-global-color-accent);
    font-family: var( --e-global-typography-89ab0b6-font-family), Sans-serif;
    font-size: var( --e-global-typography-89ab0b6-font-size);
    font-weight: var( --e-global-typography-89ab0b6-font-weight);
    text-transform: var( --e-global-typography-89ab0b6-text-transform);
    text-decoration: var( --e-global-typography-89ab0b6-text-decoration);
    line-height: var( --e-global-typography-89ab0b6-line-height);
    letter-spacing: var( --e-global-typography-89ab0b6-letter-spacing);
    word-spacing: var( --e-global-typography-89ab0b6-word-spacing);
    color: var( --e-global-color-ed9e79a);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var( --e-global-color-accent);
    border-radius: 15px 15px 15px 15px;
    padding: 20px 30px 20px 30px;
}

.elementor-kit-6 button:hover,
.elementor-kit-6 button:focus,
.elementor-kit-6 input[type="button"]:hover,
.elementor-kit-6 input[type="button"]:focus,
.elementor-kit-6 input[type="submit"]:hover,
.elementor-kit-6 input[type="submit"]:focus,
.elementor-kit-6 .elementor-button:hover,
.elementor-kit-6 .elementor-button:focus {
    background-color: var( --e-global-color-1e08779);
    color: var( --e-global-color-text);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var( --e-global-color-1e08779);
}

.elementor-kit-6 a {
    color: var( --e-global-color-accent);
    font-family: var( --e-global-typography-accent-font-family), Sans-serif;
    font-size: var( --e-global-typography-accent-font-size);
    font-weight: var( --e-global-typography-accent-font-weight);
}

.elementor-kit-6 h1 {
    color: var( --e-global-color-afbfb07);
    font-family: var( --e-global-typography-07b9981-font-family), Sans-serif;
    font-size: var( --e-global-typography-07b9981-font-size);
    font-weight: var( --e-global-typography-07b9981-font-weight);
    line-height: var( --e-global-typography-07b9981-line-height);
    letter-spacing: var( --e-global-typography-07b9981-letter-spacing);
    word-spacing: var( --e-global-typography-07b9981-word-spacing);
}

.elementor-kit-6 h2 {
    color: var( --e-global-color-afbfb07);
    font-family: var( --e-global-typography-1b81783-font-family), Sans-serif;
    font-size: var( --e-global-typography-1b81783-font-size);
    font-weight: var( --e-global-typography-1b81783-font-weight);
    line-height: var( --e-global-typography-1b81783-line-height);
    letter-spacing: var( --e-global-typography-1b81783-letter-spacing);
    word-spacing: var( --e-global-typography-1b81783-word-spacing);
}

.elementor-kit-6 h3 {
    color: var( --e-global-color-afbfb07);
    font-family: var( --e-global-typography-2ff40c8-font-family), Sans-serif;
    font-size: var( --e-global-typography-2ff40c8-font-size);
    font-weight: var( --e-global-typography-2ff40c8-font-weight);
    line-height: var( --e-global-typography-2ff40c8-line-height);
    letter-spacing: var( --e-global-typography-2ff40c8-letter-spacing);
    word-spacing: var( --e-global-typography-2ff40c8-word-spacing);
}

.elementor-kit-6 h4 {
    color: var( --e-global-color-afbfb07);
    font-family: var( --e-global-typography-179a6a0-font-family), Sans-serif;
    font-size: var( --e-global-typography-179a6a0-font-size);
    font-weight: var( --e-global-typography-179a6a0-font-weight);
    line-height: var( --e-global-typography-179a6a0-line-height);
    letter-spacing: var( --e-global-typography-179a6a0-letter-spacing);
    word-spacing: var( --e-global-typography-179a6a0-word-spacing);
}

.elementor-kit-6 h5 {
    color: var( --e-global-color-afbfb07);
    font-family: var( --e-global-typography-179a6a0-font-family), Sans-serif;
    font-size: var( --e-global-typography-179a6a0-font-size);
    font-weight: var( --e-global-typography-179a6a0-font-weight);
    line-height: var( --e-global-typography-179a6a0-line-height);
    letter-spacing: var( --e-global-typography-179a6a0-letter-spacing);
    word-spacing: var( --e-global-typography-179a6a0-word-spacing);
}

.elementor-kit-6 h6 {
    color: var( --e-global-color-afbfb07);
    font-family: var( --e-global-typography-2208e4a-font-family), Sans-serif;
    font-size: var( --e-global-typography-2208e4a-font-size);
    font-weight: var( --e-global-typography-2208e4a-font-weight);
    line-height: var( --e-global-typography-2208e4a-line-height);
    letter-spacing: var( --e-global-typography-2208e4a-letter-spacing);
    word-spacing: var( --e-global-typography-2208e4a-word-spacing);
}

.elementor-section.elementor-section-boxed>.elementor-container {
    max-width: 1240px;
}

.e-con {
    --container-max-width: 1240px;
}

.elementor-widget:not(:last-child) {
    margin-block-end: 20px;
}

.elementor-element {
    --widgets-spacing: 20px 20px;
}

{}

h1.entry-title {
    display: var(--page-title-display);
}

.site-header .site-branding {
    flex-direction: column;
    align-items: stretch;
}

.site-header {
    padding-inline-end: 0px;
    padding-inline-start: 0px;
}

.site-footer .site-branding {
    flex-direction: column;
    align-items: stretch;
}

@media(max-width:1024px) {
    .elementor-kit-6 {
        --e-global-typography-c756699-font-size: 60px;
        font-size: var( --e-global-typography-text-font-size);
    }
    .elementor-kit-6 a {
        font-size: var( --e-global-typography-accent-font-size);
    }
    .elementor-kit-6 h1 {
        font-size: var( --e-global-typography-07b9981-font-size);
        line-height: var( --e-global-typography-07b9981-line-height);
        letter-spacing: var( --e-global-typography-07b9981-letter-spacing);
        word-spacing: var( --e-global-typography-07b9981-word-spacing);
    }
    .elementor-kit-6 h2 {
        font-size: var( --e-global-typography-1b81783-font-size);
        line-height: var( --e-global-typography-1b81783-line-height);
        letter-spacing: var( --e-global-typography-1b81783-letter-spacing);
        word-spacing: var( --e-global-typography-1b81783-word-spacing);
    }
    .elementor-kit-6 h3 {
        font-size: var( --e-global-typography-2ff40c8-font-size);
        line-height: var( --e-global-typography-2ff40c8-line-height);
        letter-spacing: var( --e-global-typography-2ff40c8-letter-spacing);
        word-spacing: var( --e-global-typography-2ff40c8-word-spacing);
    }
    .elementor-kit-6 h4 {
        font-size: var( --e-global-typography-179a6a0-font-size);
        line-height: var( --e-global-typography-179a6a0-line-height);
        letter-spacing: var( --e-global-typography-179a6a0-letter-spacing);
        word-spacing: var( --e-global-typography-179a6a0-word-spacing);
    }
    .elementor-kit-6 h5 {
        font-size: var( --e-global-typography-179a6a0-font-size);
        line-height: var( --e-global-typography-179a6a0-line-height);
        letter-spacing: var( --e-global-typography-179a6a0-letter-spacing);
        word-spacing: var( --e-global-typography-179a6a0-word-spacing);
    }
    .elementor-kit-6 h6 {
        font-size: var( --e-global-typography-2208e4a-font-size);
        line-height: var( --e-global-typography-2208e4a-line-height);
        letter-spacing: var( --e-global-typography-2208e4a-letter-spacing);
        word-spacing: var( --e-global-typography-2208e4a-word-spacing);
    }
    .elementor-kit-6 button,
    .elementor-kit-6 input[type="button"],
    .elementor-kit-6 input[type="submit"],
    .elementor-kit-6 .elementor-button {
        font-size: var( --e-global-typography-89ab0b6-font-size);
        line-height: var( --e-global-typography-89ab0b6-line-height);
        letter-spacing: var( --e-global-typography-89ab0b6-letter-spacing);
        word-spacing: var( --e-global-typography-89ab0b6-word-spacing);
    }
    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 1024px;
    }
    .e-con {
        --container-max-width: 1024px;
    }
}

@media(max-width:767px) {
    .elementor-kit-6 {
        --e-global-typography-c756699-font-size: 48px;
        --e-global-typography-497b7be-font-size: 46px;
        --e-global-typography-89ab0b6-font-size: 15px;
        font-size: var( --e-global-typography-text-font-size);
    }
    .elementor-kit-6 a {
        font-size: var( --e-global-typography-accent-font-size);
    }
    .elementor-kit-6 h1 {
        font-size: var( --e-global-typography-07b9981-font-size);
        line-height: var( --e-global-typography-07b9981-line-height);
        letter-spacing: var( --e-global-typography-07b9981-letter-spacing);
        word-spacing: var( --e-global-typography-07b9981-word-spacing);
    }
    .elementor-kit-6 h2 {
        font-size: var( --e-global-typography-1b81783-font-size);
        line-height: var( --e-global-typography-1b81783-line-height);
        letter-spacing: var( --e-global-typography-1b81783-letter-spacing);
        word-spacing: var( --e-global-typography-1b81783-word-spacing);
    }
    .elementor-kit-6 h3 {
        font-size: var( --e-global-typography-2ff40c8-font-size);
        line-height: var( --e-global-typography-2ff40c8-line-height);
        letter-spacing: var( --e-global-typography-2ff40c8-letter-spacing);
        word-spacing: var( --e-global-typography-2ff40c8-word-spacing);
    }
    .elementor-kit-6 h4 {
        font-size: var( --e-global-typography-179a6a0-font-size);
        line-height: var( --e-global-typography-179a6a0-line-height);
        letter-spacing: var( --e-global-typography-179a6a0-letter-spacing);
        word-spacing: var( --e-global-typography-179a6a0-word-spacing);
    }
    .elementor-kit-6 h5 {
        font-size: var( --e-global-typography-179a6a0-font-size);
        line-height: var( --e-global-typography-179a6a0-line-height);
        letter-spacing: var( --e-global-typography-179a6a0-letter-spacing);
        word-spacing: var( --e-global-typography-179a6a0-word-spacing);
    }
    .elementor-kit-6 h6 {
        font-size: var( --e-global-typography-2208e4a-font-size);
        line-height: var( --e-global-typography-2208e4a-line-height);
        letter-spacing: var( --e-global-typography-2208e4a-letter-spacing);
        word-spacing: var( --e-global-typography-2208e4a-word-spacing);
    }
    .elementor-kit-6 button,
    .elementor-kit-6 input[type="button"],
    .elementor-kit-6 input[type="submit"],
    .elementor-kit-6 .elementor-button {
        font-size: var( --e-global-typography-89ab0b6-font-size);
        line-height: var( --e-global-typography-89ab0b6-line-height);
        letter-spacing: var( --e-global-typography-89ab0b6-letter-spacing);
        word-spacing: var( --e-global-typography-89ab0b6-word-spacing);
    }
    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 767px;
    }
    .e-con {
        --container-max-width: 767px;
    }
}